<label for="categories"><h2>Categories</h2></label>
<select name="Cetegories" id="categories">
    <option value="Dogs" style="background-image: url(../static/images/dogan.jpg);">Dogs</option>
    <option value="Cats" style="background-image: url(../static/images/catan.jpg);">Cats</option>
    <option value="reptiles" style="background-image: url(../static/images/reptilesan.jpg);">Reptiles</option>
    <option value="exortics" style="background-image: url(../static/images/exortican.jpg);">Exoric pets</option>
    <option value="Horses" style="background-image: url(../static/images/horsean.jpg);">Horses</option>
    <option value="Live stock" style="background-image: url(../static/images/livestockan.jpg);">live stock</option>
    <option value="Birds" style="background-image: url(../static/images/birdan.jpg);">Birds</option>
    <option value="Fishes" style="background-image: url(../static/images/fishesan.jpg);">Fishes</option>
</select>#category.html code for dropdown lis#