<!DOCTYPE html>
<head>
    <title>info about breeders</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>       
</head>

<body>
    <div class="container-fluid">
    <div class="bgimg">
        <div class="blur">&nbsp;&nbsp;
            

           <h3><p style="margin-left: 80px;"><h2>Why Adoption?</h2><br>
            1. <h3>Because you'll save a life.</h3>
            Each year, it's estimated that more than one million adoptable dogs and cats are euthanized in the United States, simply because too many pets come into shelters and too few people consider adoption when looking for a pet.
            
            The number of euthanized animals could be reduced dramatically if more people adopted pets instead of buying them. When you adopt, you save a loving animal by making them part of your family and open up shelter space for another animal who might desperately need it.<br>
            
            2.<h3> Because you'll get a great animal.</h3>
            Animal shelters and rescue groups are brimming with happy, healthy pets just waiting for someone to take them home. Most shelter pets wound up there because of a human problem like a move or a divorce, not because the animals did anything wrong. Many are already house-trained and used to living with families.<br>
            
          
            3.<h3> Because it's one way to fight puppy mills.</h3>
            If you buy a dog from a pet store,online seller or flea market, you’re almost certainly getting a dog from a puppy mill.
            
            Puppy mills are factory-style breeding facilities that put profit above the welfare of dogs. Animals from puppy mills are housed in shockingly poor conditions with improper medical care, and are often very sick and behaviorally troubled as a result. The moms of these puppies are kept in cages to be bred over and over for years, without human companionship and with little hope of ever joining a family. And after they're no longer profitable, breeding dogs are simply discarded—either killed, abandoned or sold at auction.
            
            These puppy mills continue to stay in business through deceptive tactics — their customers are unsuspecting consumers who shop in pet stores, over the Internet or through classified ads. Puppy mills will continue to operate until people stop supporting them. By adopting a pet, you can be certain you aren't giving them a dime.<br>
             
            4. <h3>Because your home will thank you.</h3>
            Many of the pets from shelters and rescues are already house-trained, which means you’re not only saving a pet’s life, you may be saving your rug. Adopting a mature pet not only gives older animals a second chance, it often means introducing them to your family will be much easier.<br>
            
            5. <h3>Because The Shelter Pet Project makes it easy.</h3>
            You can go to the Shelter Pet Project to find pets near you, of every size, color, temperament and breed. Purebred and mixed breed animals alike are waiting for their forever homes!<br>
            
            6.<h3> Because you'll change a homeless animal's whole world.</h3><br>
            </p></h3>

        </div>
    </div>
    </div>
</body>

  <style>
      p{
          margin-left: 80px;
      }
    
    .bgimg {
  background-image: url(../static/images/paws2.jpg);
  background-position: bottom;
  background-repeat:repeat-x;
  background-size: cover;
  height: 150vh;
  width: 100%;
}

  

.blur {
  background: rgba(233, 207, 207, 0.767); 
  backdrop-filter: blur(20px); 
  height: 150vh;
}
  </style>