<!DOCTYPE html>
<head>
    <title>info about breeders</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>       
</head>

<body>
    <div class="container-fluid">
    <div class="bgimg">
        <div class="blur">&nbsp;&nbsp;
            
           <p style="margin-left: 150px;"><h2 style="color: sienna;"> &nbsp;&nbsp;<b>Breeding</b> </h2>— The pros
           <h5>The ability to advance the breed — Given that most responsible dog breeders don’t earn a lot of money, many do it because they love dogs and are passionate about developing the breed.
            
            Being able to eradicate undesired traits or hereditary disease can be incredibly rewarding.
            
            Working with man’s best friend — Anyone who decides to start dog breeding must surely love our canine chums. It’s a responsible, compassionate and caring role, which can bring great joy to the right person.
            
            New breeds — Over the years dog breeding has resulted in new breeds, which further fuels our love of dogs. Whether you agree with the rise of ‘designer dogs’ or not – they have filled a gap. Certainly, they have enabled many people who may not have previously been able to live with a dog (due to allergies, for example) to now enjoy the company of a fur friend.
            
            Safe, responsible dog ownership — Breeders can help encourage responsible pet parents. You can do this by sharing your knowledge of the breed, ensuring the owners are a good match and staying in touch to answer any questions.
            
            Three brown puppies</h5>
            
             <h3 style="color: sienna;">&nbsp;&nbsp;<b>The cons</b></h3>
            <h5>Genetic know-how — Professional dog breeding requires knowledge. It’s not something you should enter into blind. Good and reputable breeders should have a sound understanding of genetics. It’s your responsibility to improve a breeding line with each generation.
            
            Certainly, there’s the ability to change certain traits and eradicate diseases so the next generation can live a healthier life. However, this requires a deep understanding of the health of the breed and the ability to select an appropriate mate.
            
            Time investment — Dog breeding can be an all-consuming profession. After all, it’s not just the mating, the feeding and the nurturing. Most professional breeders are active members of breed clubs and dedicated to doing the best they can for the breed. This might mean spending time doing dog agility training, obedience classes and socialising puppies.
            
            Honesty and standards — If you’re breeding to improve you need to be able to recognise and accept your dog’s flaws. You also need to recognise your breed standard. What are the traits of the ideal breed specimen?
            
            Sharing your home with a litter of pups — okay, so this might sound like fun but it’s true that many dog breeders raise litters in their own home. This can be messy, not to mention noisy!
            
            Cost — Dog breeding has a financial cost attached to it. There are health tests, genetic screenings and veterinary checks, food, bedding and cleaning supplies. There’s also equipment, such as a whelping pen and hot water bottles. Plus, if anything should go wrong, you could face a large veterinary bill.
            
            black and white puppy in man's hand</h5>
            
           <h3 style="color: saddlebrown;"> &nbsp;&nbsp;<b>Dog breeding regulations</b></h3>
           <h5> It’s important that anyone who’s interested in dog breeding clues up on the regulations in their local state. In Australia breeders must register with the local council and adhere to the mandatory code of practice for operating a breeding and rearing business.
            
            The Victorian State Government offers an online Breeder Training Course for anyone wanting to gain a basic level of education on dog breeding.
            
            For more information on the breeder registration rules and welfare standards in each state, visit the<a href="#" >RSPCA website</a>.</h5></p> 


        </div>
    </div>
    </div>
</body>

  <style>
      p{
          margin-left: 80px;
      }
    
    .bgimg {
  background-image: url(../static/images/breedinfo\ background.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.blur {
  background: rgba(207, 187, 187, 0.767); 
  backdrop-filter: blur(20px); 
  height: 100vh;
  
}
  </style>